@charset "UTF-8";

/* fonte do site */
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

/* scroll bar config */
html{
    scroll-behavior: smooth;
    scrollbar-width: thin;  /* "auto" or "thin" */
    scrollbar-color: #FA483D #271f30 ;   /* scroll thumb and track */   
}   

/* scroll bar personalization */
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: #271F30;        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: #FA483D;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #271F30;  /* creates padding around scroll thumb */
}

/* general config */
*{
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    list-style-type: none;
}

body{
    background-image: url("assets/background.png");
    background-color: #271F30;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* header */
nav{
    position: sticky;
    top: 0px;
    background-color: #00000042;
    z-index: 3;
}

#navbar{
    display: flex;
    justify-content: center;
    padding: 10px 0px 10px 0px;
}

#logo{
    width: 12%;
}

.navitem{
    font-family: 'Lacquer', cursive;
    color: #FFFFFF;
    font-size: 1.5em;
    margin-top: 10px;
    transition: 0.3s;
}

.navitem:hover{
    color: #FA483D;
}

/* first page */
#first-page{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* album image sect */
#sect-img{
    width: 50vw;
}

img#album-img{
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
    transition: 1s;
}

#album-img:hover{
    transform: rotate(360deg);
}

/* main itens sect */
#main-itens{
    width: 50vw;
    margin-left: 30px;
}

.title, .subtitle, #see-more-btn{
    font-family: 'Lacquer', cursive;
    color: #FFFFFF;
}


.title{
    font-size: 3.3em;
    width: 100%;
    text-align: left;
}

.bh{
    color: #FA483D;
}

.subtitle{
    margin-top: 40px;
    font-size: 2em;
}

/* botão cta */
button#see-more-btn{
    background-color: #FA483D;     
    font-size: 1.7em;  
    padding: 20px;
    border-radius: 30px 5px 30px 5px;
    margin-top: 30px;  
    transition: 0.5s;       
}

button#see-more-btn:hover{
    background-color: #ff392e;
    border-radius: 5px 30px 5px 30px;
    transform: translateY(-2px);
}

/* section title */
.sect-title{
    font-family: "Lacquer", cursive;
    font-size: 4em;
    color: #FA483D;
    text-align: center;
    margin: 80px;
}

/* productions sect */
#productions{
    display: flex;
    justify-content: space-between;
    margin: 40px 30px 0px 20px;
}

/* iframe sect */
#youtube-iframe{
    width: 54vw;
    height: 52vh;
    margin-right: 50px;
}

#yt{
    display: block;
    width: 90%;
    height: 100%;
    margin: auto;
}

/* social media sect */
#social{
    width: 50vw;
}

.social-media{
    width: 85px;
    transition: 0.3s;
    padding: 0px;
    border-radius: 50px;
}

.social-media:hover{
    transform: translateY(5px);
    transform: scale(95%);
}

/* social btn sect */
#social-btn{
    margin-top: 40px;
}

/* social media buttons list */
#social-btn-list{
    display: flex;
    justify-content: space-around;

}

/* who section */
#we{
    display: flex;
    justify-content: space-between;
    margin: 50px 40px 20px 50px;
}

/* group image sect */
#group-image{
    width: 50vw;
}

#group{
    width: 90%;
    height: 80%;
    display: block;
    margin: auto;
    box-shadow: 15px 15px 0px 0px #FA483D;
    transition: 0.3s;
}

#group:hover{
    box-shadow: -10px -10px 0px 0px #FA483D;
    transform: scale(90%);
}

/* who text sect */
#we-text{
    width: 50vw;
    margin-left: 30px;
}

#we #we-text p{
    color: #FFFFFF;
    font-family: 'Lacquer', cursive;
    font-size: 1.5em;
    text-align: left;
}

/* footer */
footer > p{
    text-align: center;
    color: white;
    background-color: #FA483D;
    padding: 5px;
    font-family: "Courier New", monospace;
    font-weight: bold;
    margin-top: 15px;
}